* {
  padding: 0px;
  margin: 0px;
  --resume-primary: #000;
  --resume-secondary: #6A6262;
  --resume-link: #3182f6
}

:root {
  font-family: ui-sans-serif, system-ui, sans-serif
}

body {
  padding: 80px;
  max-width: 800px;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  border-bottom: 1px solid var(--resume-primary);
  margin-top: 60px;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 40px;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

ul {
  margin-top: 12px;
  list-style-position: inside;
}

li {
  margin-left: 8px;
  margin-bottom: 4px;
  list-style-type: "·";
}

li::before {
  content: '';
  display: inline-block;
  margin-left: 6px;
}

li::marker {
  color: var(--resume-secondary);
  font-size: 20px;
  line-height: 1;
}

a {
  color: var(--resume-link);
}

.subtitle {
  color: var(--resume-secondary);
  font-size: .875rem;
  line-height: 1.25rem;
}

.contact {
  margin: 8px 0;
}

.title-with-period {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project {
  margin-left: 20px;
}
